.infoBlock {
  &_container {
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;

    li {
      font-size: 0.8rem;
      line-height: 1.1rem;
    }
  }
  &_header {
    display: flex;
    &_primary {
      // min-width: 10%;
      padding: 0.25rem;
      padding-left: 0;
      width: 3.5rem;
      text-align: center;

      img {
        height: 3.5rem;
      }

    }
    &_secondary {
      padding: 0.25rem;
    }
  }
  &_description {
    overflow: hidden;
    overflow-wrap: break-word;
    line-height: 1.3rem;
  }

  &_link_icon {
    width: 0.9rem;
    height: 0.9rem;
    padding-left: 0.5rem;
  }
  // &_listItems li {
  //   font-weight: 600;
  // }
}