.header {
  display: flex;
  background-color: $darkAccent;
  height: 8.25rem;
  z-index: -1;
  border-bottom: 0.25rem solid #c18815;
  box-sizing: border-box;

  &_primary {
    flex-grow: 1;
    padding: 0.5rem 2.0vw 0.5rem 2.0vw;
    overflow: hidden;
    overflow-wrap: none;
  }
  &_logo {
    animation: header_logo_spin infinite 20s linear;
    height: 6rem;
  }

  &_secondary {
    text-align: right;
    flex-grow: 0;
    color: #111;
    height: 0;
    width: 26.4rem;
    border-bottom: 8.25rem solid #c18815;
    border-left: 5rem solid transparent;
    box-sizing: border-box;

    ul {
      position: relative;
      top: -0.2rem;
      list-style: none;
      box-sizing: border-box;
      height: 9rem;
      z-index: 1;
      margin: 0.5rem 0 0 0;
      border-bottom: 9rem solid #fff;
      border-left: 5rem solid transparent;
    }
    li {
      margin: 0 2.0vw 0 -1rem;
      line-height: 1.45rem;
      text-align: left;
      img {
        position: relative;
        top:0.2rem;
        height: 1.25rem;
        margin-right: 0.5rem;
        mix-blend-mode: difference;
      }
    }
  }
  &_link_icon {
    width: 0.9rem;
    height: 0.9rem;
    padding-left: 0.5rem;
    filter: invert(1);
    opacity: 0.8;
    vertical-align: middle;
  }

  &_contact {
    &_spacer {
      height: 0.25rem;
    }
    &_link {
      color: #222;
    }
  }
}

@keyframes header_logo_spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}