.header {
  display: flex;
  background-color: $darkAccent;
  height: 9.5rem;
  z-index: -1;
  border-bottom: 0.25rem solid #cf8a05;
  box-sizing: border-box;

  &_primary {
    flex-grow: 1;
    padding: 1rem 2.4vw 1rem 2.4vw;
    overflow: hidden;
    overflow-wrap: none;
  }
  &_logo {
    animation: header_logo_spin infinite 20s linear;
    height: 6rem;
  }

  &_secondary {
    text-align: right;
    flex-grow: 0;
    color: #111;
    height: 0;
    border-bottom: 9.5rem solid #cf8a05;
    border-left: 5rem solid transparent;
    box-sizing: border-box;

    ul {
      position: relative;
      top: -0.2rem;
      list-style: none;
      box-sizing: border-box;
      height: 9.5rem;
      z-index: 1;
      margin: 0.6rem 0 0 0;
      border-bottom: 9.5rem solid #fff;
      border-left: 5rem solid transparent;
    }
    li {
      margin: 0 2.4vw 0 -1rem;
      line-height: 1.6rem;
      text-align: left;
      img {
        position: relative;
        top:0.2rem;
        height: 1.2rem;
        // filter: brightness(0.3);
        margin-right: 0.5rem;
        mix-blend-mode: difference;
      }
    }
  }
  &_link_icon {
    width: 0.9rem;
    height: 0.9rem;
    padding-left: 0.5rem;
    opacity: 0.8;
    vertical-align: middle;
  }

  &_contact_link {
    color: #222;
  }
}


@keyframes header_logo_spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}