.section {
  &_container {
    // display: flex;
    padding: 0.5rem 0 0.5rem 0;
  }
  &_primary {
    // width: 15vw;
    box-sizing: border-box;
    overflow: hidden;
  }
  &_secondary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }
}