h1 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 200;
  margin: 0 0 -0.5rem 0;
  color: #fff; }

h2 {
  font-family: 'Rokkitt', serif;
  font-weight: 400;
  font-size: 1.65rem;
  margin: 1rem 0 0 0;
  color: #222;
  text-decoration: none; }

h3 {
  font-family: 'Rokkitt', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.5rem;
  color: #cf8a05; }

h4 {
  font-family: 'Rokkitt', serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #696969;
  margin: 0; }

h5 {
  font-weight: bold;
  margin: 0 0 0.2rem 0;
  color: #000;
  font-size: 0.9rem; }

div, p, li {
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 0.9rem;
  font-weight: 300; }

ul {
  margin: 0;
  list-style-type: circle;
  padding-left: 1.5rem; }

a {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

.header {
  display: flex;
  background-color: #595959;
  height: 9.5rem;
  z-index: -1;
  border-bottom: 0.25rem solid #cf8a05;
  box-sizing: border-box; }
  .header_primary {
    flex-grow: 1;
    padding: 1rem 3vw 1rem 3vw;
    overflow: hidden;
    overflow-wrap: none; }
  .header_logo {
    animation: header_logo_spin infinite 20s linear;
    height: 6rem; }
  .header_secondary {
    text-align: right;
    flex-grow: 0;
    color: #111;
    height: 0;
    border-bottom: 9.5rem solid #cf8a05;
    border-left: 5rem solid transparent;
    box-sizing: border-box; }
    .header_secondary ul {
      position: relative;
      top: -0.2rem;
      list-style: none;
      box-sizing: border-box;
      height: 9.5rem;
      z-index: 1;
      margin: 0.6rem 0 0 0;
      border-bottom: 9.5rem solid #f3f3f3;
      border-left: 5rem solid transparent; }
    .header_secondary li {
      margin: 0 3vw 0 -1rem;
      line-height: 1.6rem;
      text-align: left; }
      .header_secondary li img {
        position: relative;
        top: 0.2rem;
        height: 1.2rem;
        margin-right: 0.5rem;
        mix-blend-mode: difference; }
  .header_link_icon {
    width: 0.9rem;
    height: 0.9rem;
    padding-left: 0.5rem; }
  .header_contact_link {
    color: #222; }

@keyframes header_logo_spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.container {
  display: flex;
  padding: 0 3vw 0 3vw; }

.divider {
  align-self: center; }

.section_container {
  display: flex;
  padding: 0.5rem 0 0.5rem 0; }
.section_primary {
  width: 15vw;
  box-sizing: border-box;
  overflow: hidden; }
.section_secondary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box; }

.infoBlock_container {
  padding: 0.5rem 0.25rem 0.5rem 0.25rem; }
  .infoBlock_container li {
    font-size: 0.8rem;
    line-height: 1.1rem; }
.infoBlock_header {
  display: flex; }
  .infoBlock_header_primary {
    padding: 0.25rem;
    padding-left: 0;
    width: 3.5rem;
    text-align: center; }
    .infoBlock_header_primary img {
      height: 3.5rem; }
  .infoBlock_header_secondary {
    padding: 0.25rem; }
.infoBlock_description {
  overflow: hidden;
  overflow-wrap: break-word;
  line-height: 1.3rem; }
.infoBlock_link_icon {
  width: 0.9rem;
  height: 0.9rem;
  padding-left: 0.5rem; }

.infoList_container {
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  display: inline-block;
  flex-grow: 1;
  width: calc(33.33% - 0.5rem); }
  .infoList_container li {
    line-height: 1.2rem; }

html {
  font-size: 13.7px;
  background-color: #f3f3f3; }

.footer {
  color: #666; }
  .footer_icon {
    width: 2rem;
    height: 2rem;
    margin-bottom: -0.7rem;
    filter: grayscale(100%) brightness(50%); }

/*# sourceMappingURL=App.css.map */
