@import './base/_variables';
@import './Components/styles';

html {
  font-size: 13px;
  background-color: #fff;
}

.footer {
  color: #666;
  margin-top: -0.5rem;

  &_icon {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-bottom: -0.4rem;
    margin-right: 0.5rem;
  }
}