@import './base/_variables';
@import './Components/styles';

html {
  font-size: 13px;
  background-color: #fff;
}

.main_content {
  width: 100%;
  padding-right: 0.3rem;
}

.column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grouping_row {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 26.75%;
  margin-left: 0.7rem;
  display: flex;
  flex-direction: column;
}

.vertical_divider {
  height: 89vh;
  width: 0.1rem;
  background-color: #dedede;
}

.footer {
  color: #666;
  margin-top: -0.5rem;
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  opacity: 0.6;

  &_content {
    width: 100%;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_icon {
    max-width: 1.5rem;
    max-height: 1.5rem;
    margin-right: 0.5rem;
  }

  &_text {
    font-size: 1.1em;
    font-weight: 400;
  }
}