$darkAccent: #5d5d5d;

h1 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
  margin: 0 0 -0.5rem 0;
  color: #fff;
}

h2  {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.65rem;
  margin: 1rem 0 0 0;
  color: #222;
  text-decoration: none;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  // font-style: italic;
  font-size: 1.5rem;
  color: #c18815;
  margin: 0.5rem 0 0.15rem 0;
}

h4 {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 300;
  color: #666;
  margin: 0;
  line-height: 1.5rem;
}

h5 {
  font-weight: bold;
  margin: 0 0 0.2rem 0;
  color: #000;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  line-height: 1.3rem;
}

div, p, li {
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 0.9rem;
  font-weight: 300;
}

ul {
  margin: 0;
  list-style-type: circle;
  padding-left: 1.5rem;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}